/* Стилизация аккордеона */
.accordion {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.accordion__summary {
    list-style: none;
}
.accordion__summary::-webkit-details-marker {
    display: none;
}
.accordion__details {
    box-sizing: border-box;
    padding: 24px 48px 24px 32px;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
}
.accordion__details[open] {
    padding-bottom: 32px;
}
.accordion__details[open] > .accordion__summary {
    margin-bottom: 16px;
}
.accordion__summary {
    cursor: pointer;
    line-height: 24px;
    color: var(--black);
    font-family: var(--secondary-font);
}
.accordion__content {
    line-height: 24px;
    color: var(--grey-4);
    font-family: var(--secondary-font);
}