.page {
    display: flex;
    flex-direction: column;
}
.page__component {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-row-gap: 36px;
    background-color: #F9FAFC;
}