.histogram {
    --bar-maxHeight: 50px;
    display: flex;
    flex-direction: column;
    gap: 39px;
    padding: 16px 29px 24px 26px;
    font-family: var(--secondary-font);
    border: 1px solid var(--grey-3);
    border-radius: 8px;
}
.histogram__header {
    display: flex;
    justify-content: space-between;
}
.histogram__caption {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.histogram__title {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: var(--black);
}
.histogram__metric {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: var(--black);
}
.histogram__btn {
    cursor: pointer;
    display: flex;
    border: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    background-color: transparent;
    color: var(--histogram-mainColor);
}
.histogram__bar {
    height: var(--bar-maxHeight);
    display: flex;
    align-items: end;
    gap: 1px;
}
.histogram__data {
    display: flex;
    flex-grow: 1;
    height: calc(var(--bar-height) * 100% / 50);
    background: var(--histogram-mainColor);
}