.histogram {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 39px;
    padding: 16px 24px 24px;
    font-family: var(--secondary-font);
    border: 1px solid var(--grey-3);
    border-radius: 8px;
}
.histogram__header {
    display: flex;
    justify-content: space-between;
}
.histogram__caption {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.histogram__title {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: var(--black);
}
.histogram__metric {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: var(--black);
}
.histogram__link {
    margin-top: 3px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: var(--histogram-mainColor);
    cursor: pointer;
}
.histogram__bar {
    height: 50px;
    display: flex;
    align-items: end;
    gap: 1px;
}
.histogram__data {
    display: flex;
    flex-grow: 1;
    background: var(--histogram-mainColor);
}