.radio {
    display: inline-flex;
}
.radio__input {
    position: absolute;
    opacity: 0;
    left: -110vw;
}
.radio__state {
    display: flex;
    gap: 14px;
    align-items: center;
}
.radio__control {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 28px;
    height: 28px;
    border: 2px solid var(--grey-2);
    border-radius: 14px;
}
.radio__control svg {
    visibility: hidden;
}
.radio__title {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: var(--grey-4);
}
.radio__input ~ .radio__state .radio__title:after {
    content: 'Default';
}
.radio__input:checked ~ .radio__state .radio__title:after {
    content: 'Selected';
}
.radio__input:checked ~ .radio__state .radio__control svg {
    visibility: visible;
    border-color: #4263EB;
}
.radio__input:checked ~ .radio__state .radio__control {
    border-color: #4263EB;
}

.radio__input:disabled ~ .radio__state .radio__title {
    color: var(--grey-2);
}
.radio__input:disabled ~ .radio__state .radio__title:after {
    content: 'Disabled';
}

.radio__input:focus ~ .radio__state .radio__title {
    text-decoration: underline;
}