.skeleton {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 24px 40px 32px 24px;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    background-color: var(--white);
}
.skeleton__circle {
    width: 64px;
    height: 64px;
    background-color: var(--grey-2);
    border-radius: 50%;
}
.skeleton__header {
    display: flex;
    align-items: center;
    gap: 16px;
}
.skeleton__title {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.skeleton__body {
     display: flex;
     flex-direction: column;
     gap: 8px;
 }
.skeleton__text {
    height: 20px;
    background: linear-gradient(93deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
}
.skeleton__text_size-s {
    width: 33.3%;
}
.skeleton__text_size-m {
    width: 49.9%;
}