.tooltip {
    display: inline-block;
    position: relative;
}
.tooltip__bubble {
    position: absolute;
    display: none;
    padding: 13px 21px;
    border-radius: 10px;
    background: #4263EB;
    box-shadow: 0 2px 4px 0 rgba(33, 36, 41, 0.05);
    bottom: calc(100% + 6px);
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    color: var(--grey-2);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.tooltip__bubble:before {
    content: '';
    border: 10px solid transparent;
    border-top: 6px solid #4263EB;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.tooltip:hover .tooltip__bubble {
    display: block;
}
.tooltip_hover .tooltip__bubble {
    display: block;
}