.preview {
    flex: 1 1 auto;
    background-color: #F9FAFC;
}
.preview__content {
    padding-top: 68px;
    padding-bottom: 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}